<div class="card">
    <h5 class="card-header">Informacion</h5>
    <div class="card-body">
        <h5 class="card-title">Eliminacion de registro</h5>
        <p class="card-text">El registro seleccionado se ha eliminado de manera exitosa.</p>
        <a href="/Cliente" class="btn btn-dark font-weight-bold"><i class="fas fa-arrow-left m-2"></i>Volver</a>
    </div>
</div>
