@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1>Clientes - Paises</h1>
    <p class="lead">Esta es una web simple de ejercicio. En esta se podran listar, agregar y eliminar clientes y paises.</p>
    <p class="lead font-weight-bold">¿Con que quiere empezar?</p>
    <p class="lead">
        <a href="Cliente" class="btn btn-lg btn-light font-weight-bold">Clientes</a>
        <a href="Pais" class="btn btn-lg btn-light font-weight-bold">Paises</a>
    </p>
</div>
