@{
    ViewData["Title"] = "Politicas de Privacidad";
}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">@ViewData["Title"]</h1>
    </div>
    <div class="card-body">
        <p class="card-text">Esta página no tiene politicas de privacidad, si tu entras a quí te doxeamo de una ve'.</p>
    </div>
</div>
