<style>
    .HomePage {
        background: url('/img/noche.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 60px;
    }

    .nav-link {
        padding: 10px;
    }

    .nav-link:hover{
        background-color: rgb(28 34 43);
        border-radius: 7px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }

    .btn:hover{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    }
    
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TareaFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="HomePage">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand border-right font-weight-bold pr-2" style="color: whitesmoke" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-users mr-2"></i> ClienteAPP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pais" asp-action="Index">Paises</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-dark text-muted">
        <div class="container text-light">
            &copy; 2021 - TareaFinal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Monografico #47 - Grupo #3</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
